/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'SourceSansPro';
}

@font-face {
    font-family: "SourceSansPro";
    src: url("assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}